@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron col-sm-10 mx-auto" style="background: rgba(255, 255, 255, 0.7); margin: 25vh auto;">
    <div class="container">
        <h1 class="display-3">PlanToPlate</h1>
        <p class="lead">An app to help you save your favorite recipes, plan your weekly meals, and generate your grocery list.</p>
        <hr class="my-4">
        <p>Register to start adding recipes, planning meals, and creating list</p>
        <p class="lead">
            <a class="btn btn-secondary btn-lg" asp-controller="Login" asp-action="Index" role="button">Register/Login</a>
        </p>
    </div>
</div>